a:link {
    color: red;
}

a:visited {
    color: chartreuse;

}

a:hover {
    color:darkblue;
    text-decoration: none;
}


/* clicked but not released */
a:active{
    color:darkmagenta;
}

h1{
    background-color: black;
    color:white;
}

h1:hover{
    background-color: darkorange;
}

h1:active{
    background-color:red;
}

/* first child match the first element within the bottom */
#bottom span:first-child {
    color:red;
}